<div id="feed-container" class="categories_container">
  <div class="rss-feed-block tab-cat-block">
    <h5>Manage Tabs</h5>
    <ul>
      <li>
        <%= text_field_tag "search", "",class: "span11", placeholder: "Search Tab" %>
      </li>
      <li>
        <span>New Category</span>
        <a href="javascript:void(0)" id="new_category_link" class="new_link" title="New Category">
          <i class="icon-share-alt"></i>
        </a>
        <%= form_for [:user, @category], remote: true, html:{class: "new_category_form new_form tab_form", style: "display: none"} do |f| %>
          <%= f.text_field :name, class: "span8", placeholder: "Enter name" %>
          <button class="btn" type="button">Create</button>
        <% end %>
      </li>
      <li>
        <span>Drag BooMIt to Bookmark Bar</span>
        <a href="javascript:(function () { 
  var jsCode = document.createElement('script'); 
  jsCode.setAttribute('src', '<%= "http://"+request.host_with_port+"/assets/bookmarklet.js" %>');            
  document.body.appendChild(jsCode); 
 }());
" title="Drag link to Bookmark bar">
          BooMIt
        </a>
      </li>
      
    </ul>
    <hr>
  </div>

  <%= render @categories %>
</div>
<script type="text/javascript">
  $(function(){
    apply_masonry();
    apply_dragable_tabs()
  })
</script>