

<%#= render "devise/shared/links" %>

<div class="row" align="center">
  <div class="signup-box">
    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put ,:class => 'form-horizontal' }) do |f| %>
        <div class="control-group">
          <div class="controls">
            <h2>Reset Password</h2>
          </div>
        </div>
        <div class="control-group">
          <%= f.hidden_field :reset_password_token %>
          <%= f.label :password, :class => 'control-label' %>
          <div class="controls">

            <%= f.password_field :password, :class => 'text_area', placeholder: "Enter Password" %>
            <span class="error-block"><%= display_errors(resource, :password) %></span>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :password_confirmation, :class => 'control-label' %>
          <div class="controls">

            <%= f.password_field :password_confirmation, :class => 'text_area', placeholder: "Enter Confirm Password" %>
            <span class="error-block"><%= display_errors(resource, :password_confirmation) %></span>
          </div>
        </div>
      
        <div class="control-group">
          <div class="controls">
            <%= f.submit "Submit", :class => 'btn btn-primary pull-left' %>
          </div>
        </div>
        
    <% end %>
    
  </div>
</div>