<div class="row" align="center">
  <div class="signup-box">
    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :class => 'form-horizontal' }) do |f| %>
        <div class="control-group">
          <div class="controls">
            <h2>Send Reset Password Link</h2>
          </div>
        </div>
        <div class="control-group">

          <%= f.label :email, :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :email, :class => 'text_area', placeholder: "Enter email address here" %>
            <span class="error-block"><%= display_errors(resource, :email) %></span>
          </div>
        </div>
      
        <div class="control-group">
          <div class="controls">
            <%= f.submit "Send", :class => 'btn btn-primary pull-left' %><br></br>
            <%= render "/users/shared/links"%>
          </div>
        </div>
        
    <% end %>
    
  </div>
</div>