<div class="rss-feed-block blue-feed <%= feed_class(feed) %> feed_url_<%=feed.feed_url_id%>" style= "background-color: <%= feed_bg_color(feed) %>">
	<% entry = feed.data %>
	<span class="published_date"><%= date_format entry.published %></span>
	<% if feed.media_image %>
		<div class="feed-image" >
			<%#.gsub(/\?(.*)/,"")%>
			<%= image_tag image_url(feed.media_image), style:"display:none", class: "f-img"%>
			<!-- <div class="image-loading" style="display:block">
				<%= image_tag "loading.gif" %>
			</div> -->
		</div>

	<% end %>
	<h5><%= link_to entry.title, feed_path(feed), target: "_blank", style: "color: #{feed_heading_color(feed)}", remote: true%></h5>
	<p> <%= Sanitize.clean entry.description %></p>
	<hr>
	<span class="url-title"><%= (feed.try(:url_title) rescue nil) || feed.feed_url_title %></span>
	<div class="feed-category">
		<strong class="clear" >Categories</strong>
		<% entry.categories.each do |b| %>
			<span class="label label-inverse"><%= b %></span>
		<% end %>
	</div>
	
</div>