<div class="fullPopup" style="display: block" id="fullFeedPopup">
	<div class="leftSide">
		<div class="fullFeed <%= feed_class(feed) %>" style= "background-color: <%= full_feed_bg_color(feed) %>">
			<div class="back" style= "background-color: <%= full_feed_heading_color(feed) %>">
				<strong>Close</strong>
			</div>
			<% entry = feed.data %>			
				<div class="feed-image" >
					<% if feed.media_image %>
						<%= image_tag image_url(feed.media_image), style:"display:none", class: "f-img"%>
					<% else %>
						<img src="/images/gorsslogo.png" class: "f-img"/>
					<% end %>
					<div class="image-loading" style="display:block">
						<%#= image_tag "loading.gif" %>
					</div>
				</div>

			<h5><%= link_to entry.title, entry.link, target: "_blank", style: "color: #{full_feed_heading_color(feed)}"%></h5>
			<span class="published_date"><%= date_format entry.published %></span>
			<p> <%= raw(Sanitize.clean entry.description) %></p>
			<hr>
			<span class="url-title"><%= (feed.try(:url_title) rescue nil) || feed.feed_url_title %></span>
			<div class="feed-category">
				<strong class="clear" >Categories</strong>
				<% entry.categories.each do |b| %>
					<span class="label label-inverse"><%= b %></span>
				<% end %>
			</div>
			<div class="sharer">
				<a href="https://www.facebook.com/sharer/sharer.php?u=<%= URI::encode(feed_url(feed)) %>" target="_blank">
				  <%= image_tag "facebook.png" %>
				</a>
			</div>
		</div>

	</div>

	<!-- <div class="back" style= "background-color: <%= full_feed_bg_color(feed) %>">
		<a href="javascript:void(0);"><<</a>
	</div> -->
</div>